<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xkas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="xkas_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <xkas.Properties.Settings>
            <setting name="ASMPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="SrcROMPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="DestROMPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="PatchToNewROM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSourceROM" serializeAs="String">
                <value>True</value>
            </setting>
        </xkas.Properties.Settings>
        <xkas_GUI.Properties.Settings>
            <setting name="ASMPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SrcROMPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DestROMPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PatchToNewROM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSourceROM" serializeAs="String">
                <value>True</value>
            </setting>
        </xkas_GUI.Properties.Settings>
    </userSettings>
</configuration>